body {
	margin: 0px;
}

#pokemon-directory, #error-page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #800020;
}

div > .MuiAutocomplete-listbox {
	padding: 0px;
	max-height: 50vh;
}

/* theme:
pokemon blue #2d6fb6 */
